// @import "complib/variables.scss";

// .ActivityPage {
//   display: flex;
//   margin: 3rem auto;
//   flex-direction: row;

//   @media (max-width: 43rem) {
//     flex-direction: column
//   }

//   h2 {
//     margin-bottom: 1rem;
//   }

//   .ActivitiesSection {
//     flex: 9;
//     padding-right: 3rem;

//     @media (max-width: 43rem) {
//       flex-direction: column;
//       padding: 0;
//     }

//     .ShowStreakToggle {
//       display: flex;
//       justify-content: flex-end;
//       margin: 1rem;
//       cursor: pointer;

//       .StreakToggler {
//         text-decoration: underline;
//       }

//       .Close {
//         color: getColor(red);
//       }
//     }

//     .ActivityList {
//       display: flex;
//       flex-direction: column;

//       .Activity {
//         display: flex;
//         flex-direction: column;
//         padding: 1rem;
//         border-bottom: 1px dotted getColor(error, tint-7);
//         padding-bottom: 1rem;

//         .ActivityAction {
//           font-size: 2rem;
//           list-style-type: none;
//           display: flex;
//           flex-direction: row-reverse;
//           align-items: center;
//           justify-content: space-between;

//           &:not(:last-child) {
//             margin-bottom: 1rem;
//           }

//           .ActivityText {
//             flex: 4;

//             @media (max-width: 43rem) {
//               flex: 2;
//               font-size: 1.5rem;
//             }
//           }
//         }

//       }
//     }
//   }

//   .ActivityDetailsSection {
//     flex: 3;
//     padding: 0 3rem;
//     display: flex;
//     flex-direction: column;

//     border-left: 1px solid getColor(secondary, tint-7);

//     @media (max-width: 43rem) {
//       border: none;
//       padding: 0;
//     }

//     @media (max-width: 43rem) {
//       margin-top: 4rem;
//     }

//     h2 {
//       margin-bottom: 1rem;

//       .Icon {
//         margin-right: 1rem;
//       }
//     }

//     .Funds {
//       margin-bottom: 5rem;
//     }


//     .FundChange {
//       margin-top: 1rem;
//       display: flex;
//       flex-grow: 1;
//     }

//     .TotalPrice {
//       margin-bottom: 3rem;

//       .Description {
//         margin-bottom: 1rem;
//         font-size: 1.4rem;
//       }

//       .Money {
//         margin-bottom: 2rem;
//         font-weight: bold;
//       }
//     }
//   }
// }

// .Heading {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
//   margin-bottom: 1rem;
// }

.ActivityPage {
  display: flex;
  flex-direction: column;

  .FundBar {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
    justify-content: space-between;
  }

  .ActivityBody {
    background: #F2F6FC;
    border: 1px solid #667387;
    padding-top: 0;

    .ActivityNav {
      display: flex;
      justify-content: space-between;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;

      color: #767676;
      border-bottom: 1px solid #667387;

      padding: 16px 24px;

      .NavItems {
        display: flex;

        a {

          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;
          text-decoration: none;

          color: #767676;

          &:not(:first-child) {
            margin-left: 20px;
          }

          &.ActiveNavItem {
            font-weight: bold;
          }
        }
      }

      .CreateActivity {
        button {
          border: none;
          background: none;
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;

          color: #404855;
          cursor: pointer;
        }
      }
    }

    .ActivityList {
      padding: 26px;
      padding-top: 32px;

      .Activity {
        list-style: none;

        &:not(:first-child) {
          margin-top: 32px;
        }

        .Action {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 44px;
          /* identical to box height */

          .ActivityText {
            margin-left: 24px;

            .ActivityAmt {
              font-style: italic;
              color: #876666;
            }
          }


          color: #21262D;
        }

        .PerformActivityButton {
          border: none;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          padding: 0px 16px;
          line-height: 61px;

          color: #EFF0FF;

          &.PerformActivityButtonRed {
            background: #876666;
          }

          &.PerformActivityButtonGreen {
            background: #718766;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

  }
}