$borderColor: gray;

.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 2rem 4rem;
  border-left: 1px solid $borderColor;
  min-width: 25vw;

  @media (max-width: 43rem) {
    flex-direction: column;
    border: none;
    padding: 2rem;
  }

  .Cart {

    flex: 2;

    background-color: getColor(white, light);
    min-height: 75vh;
    border: 1px solid $borderColor;
    padding: 2rem;


    h2 {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px dotted $borderColor;
    }

    h3 {
      margin-bottom: 1rem;
    }

    .CartItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;

      .Description {
        flex: 4;
      }

      .Dot {
        // border-bottom: 1px dotted $borderColor;
        flex-basis: 100%;
      }

      .Price {
        flex: 2;
        text-align: right;
      }
    }
  }


}