.SideNav {
  padding: 60px 36px;
  flex-shrink: 1;

  .SideNavItems {
    .SideNavItem {
      list-style: none;
      padding: 4px;
      line-height: 32px;
      margin: 16px 0;

      a {
        font-family: Raleway;
        font-weight: bold;
        font-size: 28px;
        color: #767676;
        text-decoration: none;
      }
    }

    .Active {
      a {
        color: #404855;
      }
    }
  }
}