.SideNav {
  padding: 60px 36px;
  flex-shrink: 1;

  .SideNavItems {
    .SideNavItem {
      list-style: none;

      a {
        font-family: Ramabhadra;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 61px;
        color: #767676;
        text-decoration: none;
      }
    }
  }
}