@import "components/variables.scss";

$borderColor: getColor(gray, shade-3);

.Store {
  display: flex;
  flex-direction: row;

  @media (max-width: 43rem) {
    flex-direction: column;
  }

  .Head {
    display: flex;
    justify-content: space-between;

    .ButtonContainer {
      padding-right: 1rem;
    }
  }

  .StoreItemSection {
    flex: 10;
  }


}