.MainNav {
  background: #667387;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px;

  .Logo {
    font-family: Rambla;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;

    color: #21262D;
  }

  .SignIn {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 46px;
    text-transform: uppercase;
    /* identical to box height */


    color: #21262D;
  }

  .SignOut {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 46px;
    text-transform: uppercase;
    /* identical to box height */


    color: #21262D;
  }
}