@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Rambla';
  src: url('./fonts/Rambla/Rambla-Regular.ttf');
}

@font-face {
  font-family: 'Rambla';
  src: url('./fonts/Rambla/Rambla-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Ramabhadra';
  src: url('./fonts/Ramabhadra/Ramabhadra-Regular.ttf');
}