@import 'complib/variables.scss';
@import 'complib/fonts.scss';


html {
  font-size: 10px;
  font-family: Raleway;
  color: getColor(black);
  // background-color: getColor(secondary, tint-9);
  // background: linear-gradient(90deg, getColor(secondary, tint-8) 15%, getColor(secondary, tint-9) 100%);
  background: rgba(102, 117, 135, 0.13);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;

  @media (max-width: 43rem) {
    font-size: 2rem;
  }
}

div,
p,
a {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: .1rem;
}

.Content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .Page {
    flex-grow: 1;
  }
}